{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Explore Result {% endblock title %}
{% block content %}
<!-- found result -->
<section class="explore-results fade-in">
    <h4>Searching Result</h4>
    <hr> <!-- line -->
    <div class="results-list">
        <div class="results-row d-flex flex-wrap">
            <div class="result-card">
                <div class="card">
                    <img src="{% static 'frontend/Images/HeroImage.jpg' %}" alt="result place">
                    <div class="card-body">
                        <h5 class="card-title">place name</h5>
                        <a href="/infoPlace/">
                            <button class="view-btn">View</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="explore-results fade-in">
    <hr> <!-- line -->
    <h4>Related Places</h4>
    <div class="results-list">
        <div class="row row-cols-auto results-row d-flex flex-wrap">
            <!-- loop for one col -->
            <div class="col result-card">
                <div class="card">
                    <img src="{% static 'frontend/Images/HeroImage.jpg' %}" alt="result place" width="100px"
                        height="100px">
                    <div class="card-body">
                        <h5 class="card-title">phhhhhhlace namhhhhhhhhhe</h5>
                        <a href="/infoPlace/">
                            <button class="view-btn">View</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col result-card">
                <div class="card">
                    <img src="{% static 'frontend/Images/HeroImage.jpg' %}" alt="result place" width="100px"
                        height="100px">
                    <div class="card-body">
                        <h5 class="card-title">place name</h5>
                        <a href="/infoPlace/">
                            <button class="view-btn">View</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col result-card">
                <div class="card">
                    <img src="{% static 'frontend/Images/HeroImage.jpg' %}" alt="result place" width="100px"
                        height="100px">
                    <div class="card-body">
                        <h5 class="card-title">place name</h5>
                        <a href="/infoPlace/">
                            <button class="view-btn">View</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- not found result -->
<section class="explore-results fade-in">
    <p>Sorry, there is no result for your search.</p>
    <hr> <!-- line -->
    <h4>Other Places</h4>
    <div class="results-list">
        <div class="row row-cols-auto results-row d-flex flex-wrap">
            <!-- loop for one col -->
            <div class="col result-card">
                <div class="card">
                    <img src="{% static 'frontend/Images/HeroImage.jpg' %}" alt="result place" width="100px"
                        height="100px">
                    <div class="card-body">
                        <h5 class="card-title">place name</h5>
                        <a href="/infoPlace/">
                            <button class="view-btn">View</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col result-card">
                <div class="card">
                    <img src="{% static 'frontend/Images/HeroImage.jpg' %}" alt="result place" width="100px"
                        height="100px">
                    <div class="card-body">
                        <h5 class="card-title">place name</h5>
                        <a href="/infoPlace/">
                            <button class="view-btn">View</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col result-card">
                <div class="card">
                    <img src="{% static 'frontend/Images/HeroImage.jpg' %}" alt="result place" width="100px"
                        height="100px">
                    <div class="card-body">
                        <h5 class="card-title">place name</h5>
                        <a href="/infoPlace/">
                            <button class="view-btn">View</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- filter results -->
 <section class="explore-results fade-in">
    <h4>Searching for region {{ search_query }}</h4> <!-- selected from filter -->
    <hr> <!-- line -->
    <div class="results-list">
        <div class="row row-cols-auto results-row d-flex flex-wrap">
            <!-- loop for one col -->
            <div class="col result-card">
                <div class="card">
                    <img src="{% static 'frontend/Images/HeroImage.jpg' %}" alt="result place" width="100px" height="100px">
                    <div class="card-body">
                        <h5 class="card-title">place name</h5>
                        <a href="/infoPlace/">
                            <button class="view-btn">View</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col result-card">
                <div class="card">
                    <img src="{% static 'frontend/Images/HeroImage.jpg' %}" alt="result place" width="100px" height="100px">
                    <div class="card-body">
                        <h5 class="card-title">place name</h5>
                        <a href="/infoPlace/">
                            <button class="view-btn">View</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col result-card">
                <div class="card">
                    <img src="{% static 'frontend/Images/HeroImage.jpg' %}" alt="result place" width="100px" height="100px">
                    <div class="card-body">
                        <h5 class="card-title">place name</h5>
                        <a href="/infoPlace/">
                            <button class="view-btn">View</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}