{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Profile {% endblock title %}
{% block content %}
<div class="container">
    <!-- user information section -->
    <section class="user-sec">
        <div class="row">
            <!-- user image profile -->
            <div class="col-12 col-md-2 col-ms-2 d-flex align-items-center justify-content-center">
                <img src="{% static 'frontend/Images/HeroImage.jpg' %}" alt="Profile Image" class="rounded-circle">
            </div>
            <!-- user information -->
            <div class="col-12 col-md-4 col-ms-4 text-center text-md-start user-info-container">
                <h5>Mohammad {{user.name}}</h5>
                <h5>@moham_1234 {{user.username}}</h5>
                <h5>mohammad.A@gmail.com {{user.email}}</h5>
                <i class="bi bi-pencil-square edit-icon" data-bs-toggle="modal" data-bs-target="#EditingForm"></i>
            </div>
        </div>
    </section>
    <hr>
    <section class="fav-sec">
        <h4>Favorite Places</h4>
        <div class="row">
            <!-- loop to show all favorite list -->
            <div class="col"> <!-- each card on col -->
                <a href="/infoPlace/">
                    <div class="card">
                        <img src="{% static 'frontend/Images/Masmak.jpg' %}" alt="favorite place">
                        <h6>place name {{place.name}}</h6>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="/infoPlace/">
                    <div class="card">
                        <img src="{% static 'frontend/Images/Masmak.jpg' %}" alt="favorite place">
                        <h6>place name {{place.name}}</h6>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="/infoPlace/">
                    <div class="card">
                        <img src="{% static 'frontend/Images/Masmak.jpg' %}" alt="favorite place">
                        <h6>place name {{place.name}}</h6>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="/infoPlace/">
                    <div class="card">
                        <img src="{% static 'frontend/Images/Masmak.jpg' %}" alt="favorite place">
                        <h6>place name {{place.name}}</h6>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="/infoPlace/">
                    <div class="card">
                        <img src="{% static 'frontend/Images/Masmak.jpg' %}" alt="favorite place">
                        <h6>place name {{place.name}}</h6>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="/infoPlace/">
                    <div class="card">
                        <img src="{% static 'frontend/Images/Masmak.jpg' %}" alt="favorite place">
                        <h6>place name {{place.name}}</h6>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <section class="share-sec">
        <h4>Your Shared Stories/Comments</h4>
        <div class="row">
            <!-- loop to show all cards that the user comment in -->
            <div class="col"> <!-- each card on col -->
                <a href="/infoPlace/">
                    <div class="card">
                        <img src="{% static 'frontend/Images/Masmak.jpg' %}" alt="favorite place">
                        <h6>place name {{place.name}}</h6>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="/infoPlace/">
                    <div class="card">
                        <img src="{% static 'frontend/Images/Masmak.jpg' %}" alt="favorite place">
                        <h6>place name {{place.name}}</h6>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="/infoPlace/">
                    <div class="card">
                        <img src="{% static 'frontend/Images/Masmak.jpg' %}" alt="favorite place">
                        <h6>place name {{place.name}}</h6>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <div class="logout-sec">
        <button class="btn btn-outline-danger logout-btn">Log Out <i class="bi bi-box-arrow-right"></i></button>
    </div>
    <!-- edit user info form -->
    <div class="modal fade" id="EditingForm">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <!-- form header -->
                <div class="modal-header">
                    <h2>Edit user information</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- form body -->
                <div class="modal-body">
                    <form action="#" id="myEditingForm">
                        <div class="inputField">
                            <div>
                                <label for="distanation">Name: </label>
                                <input type="text" id="edit_nameprofil" class="form-control">
                            </div>
                            <div>
                                <label for="name">Username: </label>
                                <input type="text" id="edit_userprofil" class="form-control">
                            </div>
                            <div>
                                <label for="description">Email: </label>
                                <input type="email" id="edit_email" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
                <!-- form footer -->
                <div class="modal-footer">
                    <button class="btn btn-success" form="myEditingForm" type="submit">Save</button>
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}