body,
html {
    font-family: "Trirong", serif;
}

body {
    background-color: #F6F1E7;
}

/* base admin page */
.dashboard-layout {
    display: flex;
    width: 100%;
    min-height: 200vh;
}

.dashboard-content {
    flex: 1;
    padding: 100px 30px 30px;
    margin-left: 250px;
    transition: 0.3s ease;
}
.dashboard-content.shifted {
    margin-left: 0;
}

#sidebar .title {
    color: #F6F1E7;
    margin-bottom: 2rem;
}

#sidebar a {
    color: #F6F1E7;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem 1rem;
    margin-bottom: 0.5rem;
    border-radius: 0.375rem;
    transition: background 0.2s;

}

#sidebar a:hover {
    background-color: #0f7550;
}
#sidebar a:active {
    background-color: #0f7550;
} 


.admin-footer p {
    font-size: 20px;
    color: #F6F1E7;
    padding-bottom: 0px;
}

.admin-footer hr {
    color: #F6F1E7;
}

.logout-btn {
    border: none;
    background: none;
    color: #F6F1E7;
    transform: translateY(-2px);
    gap: 0.75rem;
    padding: 0.75rem 1rem;
    border-radius: 0.375rem;
}
.admin-footer .logout-btn:hover{
    background-color: #0f7550;
}

ul {
    list-style-type: none;
}

#sidebar{
    width: 250px;
    min-height: 100vh;
    background-color: #0B5D3B;
    padding: 20px 10px;
    position: fixed; 
    left: 0;
    top: 0;
    transition: 0.3s ease;
}
#sidebar.closed {
    left: -250px;
}
 .menu-btn {
  border: none;
  background: transparent;
  font-size: 30px;
  color: #0B5D3B;
}

.mod-btn {
  background: none;
  border: none;
  font-size: 22px;
  color: #0B5D3B;
}

.lang-btn {
  border: none;
  background-color: transparent;
  font-size: 22px;
  font-weight: bold;
  color: #0B5D3B;
  cursor: pointer;
}
#top-navbar {
    height: 70px;
    background: #EDE3CC;
    padding: 0px 20px;
    margin-left: 250px;
    width: calc(100% - 250px);
    position: fixed;
    top: 0;
    z-index: 10;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#top-navbar.shifted {
    margin-left: 0;
    width: 100%;
}


/* logout pup window */
.log-modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(4px);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-logout-cotent {
  background: #F6F1E7;
  padding: 30px 40px;
  border-radius: 20px;
  text-align: center;
  width: 90%;
  max-width: 350px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.logout-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.yes-btn {
  background: #0B5D3B;
  color: #F6F1E7;
  padding: 10px 25px;
  border-radius: 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.yes-btn a{
    text-decoration: none;
}
.yes-btn:hover{
  transform: translateY(-2px);
}
.no-btn {
  background: #B33A3A;
  color: #F6F1E7;
  padding: 10px 25px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.no-btn:hover{
  transform: translateY(-2px);
}

/* dashboard page */
.daily-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.card-daily{
    background: #EDE3CC;
    padding: 20px 10px 10px 20px;
    border-radius: 16px;
    border: 1px solid #EDE3CC;
    transition: transform 0.2s;
}
.card-daily:hover,
.chart-card:hover {
    transform: translateY(-3px);
}

.page-title {
    color: #0B5D3B;
    font-weight: bold;
    margin: 20px;
}

.card-daily i {
    color: #0B5D3B;
}
/* charts */
.charts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
}

.chart-card {
    background: #EDE3CC;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* landmarks page */
.add-land-btn{
    background-color: #0B5D3B;
    color: #F6F1E7;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 20px;
}
table{
    background-color: #EDE3CC;
    color: #2e2e2e;
    border-spacing: 30px;
    width: 100%;
}
table thead{
    background-color: #0B5D3B;
    color: #F6F1E7;
    border: solid 1px #F6F1E7;
    padding: 10px;
    border-spacing: 30px;
}
table tbody tr:hover {
    background-color: #F6F1E7;
}
table tr td{
    vertical-align: middle;
    padding: 10px;
}
table tr{
    border-bottom: solid 1px #2e2e2e;
    padding: 10px;
}

.modal-content{
    background-color: #EDE3CC;
}
.modal-header{
    color: #2e2e2e;
    padding: 10px;
}
.modal-body form{
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.modal-footer{
    justify-content: center;
    align-items: center;
    padding: 10px;
}
/* account page */
.add-user-btn{
    background-color: #0B5D3B;
    color: #F6F1E7;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 20px;
}
